:root {
    --base-clr: #2a4e50;
    --base-clr-2: #375a5c;
    --hover-clr: #349b91;
    --text-clr: #ffffff;
    --bg-clr: #f2e9e4;
  }
  .signup-flow {
    overflow-y: hidden;

    > div {
      padding-top: 10px;
    }
  }
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
  .signup-flow {
    display: flex;
    flex-direction: row;
  }
  .left {
    display: flex;
    background-color: var(--text-clr);
  }
  .right {
    display: flex;
    background-color: var(--hover-clr);
    * {
      color: var(--text-clr);
    }
    > div {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      max-height: 550px;
      padding-left: 80px;
      margin: auto;
    }
  }
  #signup-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 800px;
    padding: 20px;
    margin: auto;
  
    label {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 5px;
      font-weight: 500;
    }
    span {
      font-weight: 500;
    }
    p {
      text-align: center;
      margin-top: 50px;
      font-weight: 500;
    }
    a {
      all: unset;
      color: var(--hover-clr);
      font-weight: 500;
    }
    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    input {
      all: unset;
      display: flex;
      padding: 10px;
      border: 1px solid darkgrey;
      border-radius: 10px;
    }
    select {
        all: unset;
        padding: 10px;
        border: 1px solid darkgrey;
        border-radius: 10px;
    }
    button {
      padding: 15px;
      margin-top: 70px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 400;
      color: var(--text-clr);
      background-color: var(--hover-clr);
    }
    button:hover{
      background-color: var(--base-clr-2);
    }
  }
  .error-message {
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0;
    
    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      margin: 20px;
      border-radius: 10px;
      color: white;
      background-color:#f56a79;
      transition: opacity 3s ease-out;
    }
  }
  