.advertisement-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-top: 20px;
  }
  
  .advertisement-card {
    background-color: #d3d3d3;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 500;
  }