.audience-details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  .audience-details-container {
    max-width: 600px;
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .audience-details-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .audience-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .previous-button, .next-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ccc;
  }
  
  .previous-button:hover, .next-button:hover {
    background-color: #888;
  }
  