.view-advertisements {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.view-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Responsive grid */
  gap: 40px;
  padding: 20px; 
  margin: 0 auto; 
  width: 100%;
  box-sizing: border-box; 
  transition: margin-left 0.3s ease, margin-right 0.3s ease;
  max-width: 1200px;
}


