/* login.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light background color for the page */
}

.form-wrapper {
  background-color: #c9adad; /* Light grey background color for the form */
  padding: 2rem;
  border-radius: 15px; /* Rounded corners for the form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for better look */
}

button {
  border-radius: 5px;
}

input {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}
