/* General Login Page Styling */
.login-page {
  display: flex;
  height: 100vh;
  background-color: #f9f5f1;
  font-family: Arial, sans-serif;
}

/* Left Section: Login Form */
.login-form-section {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.suave-logo {
  width: 120px;
  height: auto;
}

.login-form-container {
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.login-form-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 0px;
}

.login-form-container p {
  font-size: 1rem;
  color: #666;
}

.form-container {
  width: 100%; /* Set the width to take up the available space */
  max-width: 600px; /* Adjust the maximum width to allow for expansion */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

/* Input Field Styling */
/* .form-group input {
  width: 100%; 
  max-width: none; 
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
} */

#password {
  width: 100%;
}

.forgot-password-link {
  font-size: 0.9rem;
  color: #0aa;
  text-decoration: none;
  float: right;
  margin-top: 5px;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

/* Checkbox Styling */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0;
}

.checkbox-container label {
  font-size: 1rem;
  color: #333;
}

/* Button Styling */
.login-button {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #009688;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #00796b;
}

/* Signup Text */
.signup-text {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
}

.signup-text a {
  color: #0aa;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* Right Section: Illustration */
.illustration-section {
  flex: 1;
  padding: 60px;
  background-color: #26a69a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.illustration-section h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}

.illustration-section p {
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: center;
}

.illustration-image {
  max-width: 90%;
  height: auto;
}
