.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 2-px;
    gap: 30px;
}

.image-generator-header {
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.img-loading {
    display: flex;
    flex-direction: column;
}

.img-loading img {
    width: 512px;
}

