.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 2-px;
    gap: 30px;
}

.image-generator-header {
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.img-loading {
    display: flex;
    flex-direction: column;
}

.img-loading img {
    width: 512px;
}

.ai-search-box {
    display: flex;
    width: 1000px;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: green;
}

.search-input {
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}

.search-input::placeholder {
    color: #333;
}

.ad-generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 85px;
    background: purple;
    cursor: pointer;
}