@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

main{
    color: #F2E9E4;
    
}

.tv-grp{
    width: 100%;
}

.view-tv-group-header{
    background-color: white;
    height: 10%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.existing-tv-header-text{
    color:#505050;
    font-size: 36px;
    font-family: 'Lato';
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icons{
    display: flex;
    gap: 40px;
    margin-right: 50px;
}

.icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#filter-cat{
    color: black;
    margin: 25px;
    font-family: 'Lato';
    font-weight: normal;
    font-size: 25px;
}

.region-filter button{
    background-color: white;
    border: none;
    color: black;
    font-family: 'Lato';
    font-size: 25px;
    margin-left: 25px;
    width: 10%; 
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.reset-filter button{
    margin-left: 150px;
    margin-top: -130px;
    padding: 10px 20px;
    background-color: white;
    border: 0;
    color: black;
    font-size: 23px;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.status-filter{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
}

.status-btns button{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    padding: 15px 25px;
}

.region-filter button.active{
    background-color: #349B91;
    color: white;
    font-weight: bold;
}

.status-btns button.active{
    background-color: #349B91;
    color: white;
}

.error-msg, .loading-msg, .no-data-msg{
    font-size: 30px;
    font-family: 'Lato';
    margin-left: 10px;
}

.tv-grp-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
}

.tv-grp-card{
    margin-left: 3%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    color: black;
    font-family: 'Lato';
}

.tv-grp-card h4{
    font-size: 30px;
    margin-top: 5px;
}

.tv-grp-card p{
    font-size: 25px;
    margin: 5px 0;
    color: black;
}

.status-indicator{
    width: auto;
    gap: 5px;
    font-size: 23px;
    font-family: 'Lato';
    color: #505050;
    margin-top: 15px;
    border: none;
}

.status-dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

.status-green{
    background-color: #08FD08;
    border: none;
}

.status-red{
    background-color: #FF0000;
    border: none;
}

.status-gray{
    background-color: #A9A9A9;
    border: none;
}

.view-tv-grp-button {
  background-color: #349B91;
  color: #ffffff;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-top: auto; 
  margin-bottom: 20px;;
  width: 30%; 
  margin-top: 30px;
}

.tv-grp-detail{
    margin-top: 20px;
    padding: 30px;
    color: black;
}

.back-btn{
    padding: 5px;
    border: none;
    color: black;
    cursor: pointer;
    background: none;
}

.back-btn:hover{
    background: none;
}

h2{
    text-align: center;
    font-family: 'Lato';
    font-weight: bold;
    margin-bottom: 20px;
}

.tv-grp-tv, .tv-grp-info{
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 20px;
    font-family: 'Lato';
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px
}

.tv-grp-tv h2, .tv-grp-info h3 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    flex-basis: 100%;
    text-align: center;
}

.tv-grp-tv p, .tv-grp-info p {
    font-size: 35px ;
    margin: 10px 0;
    flex-basis: 100%;
    text-align: center;
    color: black;
}

.tv-grp-info ul, .tv-grp ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    
}

.tv-grp-info li, .tv-grp-tv li {
    font-family: 'Lato';
    font-size: 30px;
}

.tv-grp-tv li {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
}

.tv-grp-tv li span {
    margin-left: 160px;
}

.tv-grp-tv-header {
    font-weight: bold;
}

.tv-grp-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}











