:root{
    --base-clr: #2A4E50;
    --base-clr-2: #375A5C;
    --hover-clr: #349B91;
    --text-clr: #FFFFFF;
    --bg-clr: #F2E9E4;
}
*{
    margin: 0;
    padding: 0;
}
section{
    padding: 0;
    width: 100%
}
#create-campaign-flow ul{
    padding: 0px;
}
#create-campaign-flow li{
    display: flex;
    margin: 50px;
    color: red;
    background-color: var(--text-clr);
}