#create-campaign-flow {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#create-campaign-form {
  margin: 50px;

  p {
    font-size: 18px;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
  }
  h2 {
    font-size: 16px;
    font-weight: 500;
  }
  > ul {
    display: flex;
    flex-direction: column;
  }
  > ul > li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: white;

    > div {
      display: flex;
      flex-direction: column;
    }
  }
  input, textarea, .additional-options, .select-gender {
    display: flex;
    padding: 10px;
    text-indent: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
  textarea {
    height: 250px
  }
  li > div:first-child {
    width: 290px;
    padding-top: 20px;
    margin: 0 50px;
  }
  li > div:last-child {
    flex-grow: 1;
    align-items: center;
    > div {
      max-width: 540px;
    }
  }
}
.campaign-description {
  margin-top: 20px;

  input, textarea {
    all: unset;
    display: flex;
    width: 520px;
  }
}
.campaign-demographic {
  width: 510px;

  .demographic-options {
    all: unset;
    width: 150px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .add-option {
    padding: 10px;
    font-size: 16px;
    border: unset;
  }
  div {
    display: flex;
  }
  > div { 
    flex-direction: column;
    width: 510px;
    margin-top: 50px;
    > div {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px;
      > div {
        align-items: center;
      }
    }
  }
}
.campaign-performance-measurement {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 510px;
    height: 100%;
    margin-top: 20px;
  }
  
  label {
    display: flex;
    margin-left: 10px;
    margin-right: auto;
    font-size: 18px;
    
    input {
      width: 18px;
      margin-right: 20px;
      accent-color: var(--hover-clr);
    }
  }
}
.campaign-advertisement {
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 510px;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 200px;
      margin-top: 10px;
      border: 1px solid black;
      border-radius: 5px;
    }

    a {
      text-align: center;
      width: 150px;
      margin: 10px 0;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
}
.campaign-schedule-date {
  margin: 20px 0px;

  abbr{
    text-decoration: none;
  }
  .react-calendar {
    all: unset;
    max-width: 500px;

    button {
      all: unset;
    }
  }
  .react-calendar__navigation {
    button{
      padding: 10px;
    }
  }
  .react-calendar__viewContainer {
    button{
      padding: 10px 0;
    }
  }
  .react-calendar__navigation, .react-calendar__viewContainer{
    color: black;
    .react-calendar__tile--active{
      color: white;
      background-color: var(--base-clr);
    }
    button{
      border-radius: 5px;
      text-align: center;
    }
    button:hover{
      background-color: var(--hover-clr);
      border: none;
    }
  }
}
.campaign-schedule-time-slot {
  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 510px;
    padding: 30px 0;
  }
  label {
    margin: 0px 40px;
  }
  input { 
    flex-direction: row;
    width: 150px;
    height: 20px;
    text-indent: 20px;
  }
}
.next-container {
  all: unset;
  display: flex;
  height: 80px;
}
#next-button {
  width: 180px;
  padding: 6px;
  margin: auto;
  margin-top: 0;
  background-color: var(--hover-clr);
  border: none;
}
#next-button:hover {
  background-color: var(--base-clr-2);
}
